<div class='panel'>
	<div class='panel-body'>

					<form method='POST'>
					<div class="form-group">
			      <label  for="first_name">First Name</label>
			      <input id="first_name" name="first_name" type="text" placeholder="First Name" class="form-control" required="" value=''>
			    </div>
			      <!-- <span class="help-block">First Name</span> -->

			    <!-- LAST NAME-->
			    <div class="form-group">
			      <label for="last_name">Last Name</label>
			      <input id="last_name" name="last_name" type="text" placeholder="Last Name" class="form-control" required="" value=''>
			      <!-- <span class="help-block">Last Name</span> -->
			    </div>

			    <!-- TELEPHONE-->
			    <div class="form-group">
			      <label for="tel">Tel</label>
			      <input id="tel" name="tel" type="text" placeholder="Tel" class="form-control" required="" value=''>
			      <!-- <span class="help-block">Tel</span> -->
			    </div>

			    <!-- EMAIL-->
			    <div class="form-group">
			      <label for="email">Email</label>
			      <input id="Email" name="email" type="text" placeholder="Email" class="form-control" required="" value=''>
			      <!-- <span class="help-block">Email</span> -->
			    </div>

			    <!-- PAX LEADER-->
			    <div class="form-group">
			      <label for="leader">Pax Leader</label>
			      <input id="leader" name="leader" type="text" placeholder="Yes/No" class="form-control" required="" value=''>
			      <!-- <span class="help-block">Pax Leader</span> -->
			    </div>

			    <!-- ADITIONAL CONTACT-->
			    <div class="form-group">
			      <label for="add_contact">Add Contact</label>
			      <input id="add_contact" name="add_contact" type="text" placeholder="Add Contact" class="form-control" required="" value=''>
			      <!-- <span class="help-block">Add Contact</span> -->
			    </div>

			    <!-- CONTACT TEL-->
			    <div class="form-group">
			      <label for="contact_tel">Contact Tel</label>
			      <input id="contact_tel" name="contact_tel" type="text" placeholder="Contact Tel" class="form-control" required="" value=''>
			      <!-- <span class="help-block">Contact Tel</span> -->
			    </div>




			    <div class='text-right'>
			        <button class='btn btn-primary'>
			            <i class='glyphicon glyphicon-save'></i>
			            Save
			        </button>
			        <a href='/customers' class='btn btn-danger'>
			            <i class='glyphicon glyphicon-close'></i>
			            Cancel
			        </a>
					</div>

				</form>
		</div>
</div>
