<div class='panel'>
	<div class='panel-body'>

      <div class='table-responsive'>

      <table class='table'>
      	<thead>
      		<tr>
      			<h2><center>Welcome to&nbsp;Universal Travel Corp.</center> </h2>
      		</tr>
      	</thead>
      	<tbody>


      	</tbody>
      </table>
      </div>

  </div>
</div>
