<!doctype html>
<html>
  <head>
      <meta charset="utf-6">
      <title>Receipt System ver 1.0</title>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
      <link rel='stylesheet' href='/css/style.css'></link>
      <meta charset="utf-8"></meta>
  </head>
  <body>

     <div class='container'>
      <img src="/img/SharonTours.png" width="160" height="110">
      <h1 style="font-family:verdana;color:#1E90FF"><center>Receipt System ver 1.0 </center></h1>

       <!-- FLASHES -->
      <% flash.each do | key , message | %>
       <div class="alert alert-<%= key %> alert-dismissible" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <%= message %>
       </div>
      <% end %>
      <!-- FLASHES -->

      <!-- MAIN CONTENT -->
      <%= yield %>
      <!-- MAIN CONTENT -->

      </div>

      <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  </body>
</html>
