<div class='panel'>
	<div class='panel-body'>

<form method='POST' action="">
	<center><b>Transaction - Create:</b></center>

		<!-- CUSTOMER ID-->
    <div class="form-group">
      <label  for="cust_id">Customer</label>
			<div class='form-static'>
				<strong><%= @customer.first_name %></strong>
			</div>
    </div>

    <!-- SALE CONCEPT ID-->
	<div class="form-group">
		<label  for="cust_id">Concept</label>
		<div class='form-static'>
			<strong><%= @concept.type_desc %></strong>
		</div>
	</div>

    <!-- PAY TYPE-->
    <div class="form-group">
      <label for="pay_type">Pay Type</label>
      <input id="pay_type" name="pay_type" type="text" placeholder="Cash/Credit/Check" class="form-control" required="" value='<%= @transaction.pay_type %>'>
      <!-- <span class="help-block">Pay Type</span> -->
    </div>

    <!-- PAYMENT AMOUNT-->
    <div class="form-group">
      <label for="amount">Payment Amount</label>
      <input id="amount" name="amount" type="text" placeholder="Payment Amount" class="form-control" required="">
      <!-- <span class="help-block">Payment Amount</span> -->
    </div>

    <!-- APPROVAL CODE-->
    <div class="form-group">
      <label for="approv_code">Approval Code</label>
      <input id="approv_code" name="approv_code" type="text" placeholder="Approval Code" class="form-control" required="">
      <!-- <span class="help-block">Approval Code</span> -->
    </div>

    <!-- TRANSACTION DATE-->
    <div class="form-group">
      <label for="trans_date">Trans Date</label>
      <input id="trans_date" name="trans_date" type="date" placeholder="Trans Date" class="form-control" required="">
      <!-- <span class="help-block">Trans Date</span> -->
    </div>

    <!-- TRANS NOTES-->
    <div class="form-group">
      <label for="trans_notes">Notes</label>
      <textarea id="trans_notes" name="trans_notes" placeholder="Notes" class="form-control" ></textarea>
      <!-- <span class="help-block">Notes</span> -->
    </div>

    <div class='text-right'>
        <button class='btn btn-primary'>
            <i class='glyphicon glyphicon-save'></i>
            Save
        </button>
        <a href='../' class='btn btn-danger'>
            <i class='glyphicon glyphicon-close'></i>
            Cancel
        </a>
    </div>

</form>

</div></div>
